*{
    margin: 0;
    padding: 0;


}
.hero{
    background: linear-gradient(to bottom, #dbcc8f, #f7eb7e);    background-color: #dbcc8f;

}

.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #FF6B6B, #FF8E53, #FFAD69, #FFD6A0);
    position: relative;


}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/Web/canteen/texture.png) repeat center;
    mix-blend-mode:soft-light;
}

.container-fluid {
    margin-bottom: 20px;
    
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    

}
nav img{
    width: 60px;
    height: 60px;
    float: left;
}
.nav-links{
    border-bottom: 2px solid #000; /* Add a solid line at the bottom of the navbar */
    flex: 1;
    text-align: right;

    
}
.nav-links ul li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 8px;
    font-weight: 400;
}
.nav-links ul li a{
    color: darkolivegreen;
    text-decoration: none;
    font-size: 16px;
    padding-right: 20px;
    padding-top: 5px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
font-size: 40px;
}
.text-box img{
    padding-top: -5px;
    width: 400px;
    height: 400px;
}
.hero-btn{
    font-family: 'Anton', sans-serif;

    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn i{
    margin-left: 2px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.hero-btn:hover{
    border: 1px solid darkolivegreen;
    background: darkolivegreen;
    transition: 0.5s ease-in;
    color: white;
}
nav .fa{
    display: none;
}
/* --------food------- */
.food{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #FDEBD0 0%, #dbcc8f 100%);  
    background-size: cover;
    background-image: url(/Web/canteen/food.png);


}

.neonText {
    color: #000;
    text-shadow:
      0 0 7px #000,
      0 0 10px #000,
      0 0 21px #000,
      0 0 42px #FF6B6B,
      0 0 82px #FF6B6B,
      0 0 92px #FF6B6B,
      0 0 102px #FF6B6B,
      0 0 151px #FF6B6B;
  }
  h1 {
    font-size: 6.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate; ;  

   
    padding: 0.4em;
    
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #FF6B6B,
        0 0 80px #FF6B6B,
        0 0 90px #FF6B6B,
        0 0 100px #FF6B6B,
        0 0 150px #FF6B6B;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #FF6B6B,
      0 0 45px #FF6B6B,
      0 0 55px #FF6B6B,
      0 0 70px #FF6B6B,
      0 0 80px #FF6B6B;
  
  }
}
.animated-image {
    animation: fadeInUp 1s ease-in-out infinite alternate; /* Add your animation properties */
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.container{
    min-height: 60vh;
    padding: 50px;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container .food-box{
    height: 210px;
    width: 210px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
   border-bottom-left-radius: 120px;
   border-bottom-right-radius:120px ;
    border: 2px solid #dbcc8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .food-box .food-img{
    height: 150px;
    width: 150px;
    
    border-radius: 50%;
    object-fit: cover;
   
}
.container .food-box h2{
    font-family:'Poppins', sans-serif ;
    color: #ffcc00;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    height: 20vh; /* Set the height of the container to fill the viewport */
}

.expand-button{
    font-family: 'Anton', sans-serif;
    margin-top: -20px;
    border: none;
    padding: 6px 6px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: 500;
}
.expand-button:hover{
    background: transparent;
    transition: 0.5s;
    
}
.expanded-content{
    display: none;
    margin-top: 20px;
}
@media(max-width:700px){
     .text-box h1{
        font-size: 28px;
     }
     .text-box img{
        width: 250px;
        height: 250px;
     }
     .nav-links ul li{
        display: block;

     }
     .nav-links{
        position: absolute;
        background: rgb(40, 47, 26);
        color: whitesmoke;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
     }
     nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        justify-content: center;
     }
     .nav-links ul{
        padding: 30px;
     }
     .icon-container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    
}
